/************************************************

Gaby Suriel's Personal Webpage (About Me)
CS 120: Assignment 1

Note:
For this assignment I started by designing how
I wanted the layout to look in Figma. I designed
the UI/layout completely from scratch. This included
planning out the color scheme I would use and overall
aesthetic I wanted the page to have.

My design is broken into sections. Each section of the
assignment (about/travels/pet names/etc.) has its own section.
When I began to code the html/css, I coded each section one by
one and aimed to make it as identical to my visual design as
possible.

This version "style-me-two" has style changes to fit the
specific additional changes/requirements asked.

*************************************************/


/* ------------------------------------------------------------------------------------------------------- */

/* Body/Default Styles:
These are the default styles for the webpage.
*/

body {
  font-family: 'Krub', sans-serif; /* Made the san serif google font Krub to fit requirements for me-two. */
  background-color: #341510; /* Background Color */
  color: #e6c38a; /* Font Color */
  margin: 0;
  overflow-x: hidden ; /* To stop side/horizontal scrolling */
}

h1, h2 {
  color: #3b1f1a;
  font-size: 32px;
  margin-bottom: 30px;
}

 /* unordered list styling  */
ul {
  border: 2px solid #3b1f1a;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Website Name in Header */
.site-name {
  font-family: 'Instrument Serif', serif;
  font-size: 40px;
  font-weight: 400;
  color: #D39758;
  letter-spacing: 1px;
}

/* Header and Menu */
.site-header {
  background-color: #150D0B;
  border-bottom: 1px solid #000000;
  height: 60px;
  align-items: left;
}

.header-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 48px;

  display: flex; /* to use flexbox layout for menu positioning */
  justify-content: space-between;     /* space lets site name and menu be on oposite ends of header */
  align-items: center;
  flex-wrap: nowrap;
}

/* styling for header menu links */
.main-nav a {
  font-family: 'Instrument Serif', serif;
  font-size: 20px;
  font-weight: 400;
  color: #D39758;
  text-decoration: none;
  margin-left: 30px;
}
/* Link effect when hovered.
As represented in original figma design concept. */
.main-nav a:hover {
  color: #EACEA9;
}

/* -----------------------------------------Section 1----------------------------------------------- */


/* Section 1: About Gaby */

.section-one {
  background-color: #341510;
  padding: 40px 40px;
}

.section-one-inner {
  max-width: 1381px;
  width: 100%;
  height: 366px;
  margin: 0 auto 50px;

  background-color: #EACEA9;
  border-radius: 13px;

  display: flex;
  overflow: hidden;
}

.about-text {
  width: 45%;
  padding: 48px 50px;
  transform: translateY(-5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-label {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  margin-bottom: -35px;
}

.about-name {
  font-family: 'Instrument Serif', serif;
  font-size: 45px;
  font-weight: 400;
  color: #000;

  margin: 0 -25 -25px 0;
}

.about-description {
  max-width: 604px;
  margin-top: -15px;
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.65;
  color: #000;
}

.about-image {
  width: 55%;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----------------------------------------Section 2----------------------------------------------- */

/* Section 2: Recent Travels */

.section-2 {
  background-color: #341510;
  padding: 80px 0 100px;
}

.section-2-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 48px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section-2-image img {
  width: 260px;
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
}

.section-2-center {
  max-width: 604px;
  text-align: center;
  color: #EACEA9;
}

.section-2-label {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 8px;
}

.section-2-title {
  font-family: 'Instrument Serif', serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 20px 0;
  color: #EACEA9
}

.section-2-description {
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 auto;
}

.section-2-bottom {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.section-2-bottom img {
  width: 420px;
  height: 300px;
  object-fit: cover;
  border-radius: 18px;
}

/* -----------------------------------------Section 3----------------------------------------------- */

/* Section 3: Fave Resturant */
.section-3 {
  background-color: #341510;
  padding: 80px 0;
}

.section-3-inner {
  width: 1381px;
  height: auto;
  margin: 0 auto;

  background-color: #EACEA9;
  border-radius: 13px;

  display: flex;
  overflow: hidden;
}

.section-3-text {
  width: 45%;
  padding: 48px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-3-label {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  margin-bottom: -35px;
}

.section-3-title {
  font-family: 'Instrument Serif', serif;
  font-size: 45px;
  font-weight: 400;
  color: #000;
}


.section-3-description {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.65;
  color: #000;
  max-width: 604px;
  margin-top: -15px;
}

.section-3-image {
  width: 55%;
}

.section-3-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----------------------------------------Section 4----------------------------------------------- */

/* Section 4: Animal Names */
.section-4 {
  background-color: #341510;
  padding: -20px 0;
  color: #EACEA9;
}

.section-4-inner {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.section-4-label {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: -40px;
}

.section-4-title {
  font-family: 'Instrument Serif', serif;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #EACEA9;
}

.section-4-intro {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 500;
  max-width: 600px;
  margin: 0 auto 40px;
}

.pet-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.pet-card {
  background-color: #EACEA9;
  border-radius: 12px;
  overflow: hidden;
  width: 260px;
}

.pet-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.pet-name {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  padding: 12px;
}

/* Section 4: Bullet List Part */
.pet-descriptions {
  width: 51%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 48px;

  text-align: left;
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.65;
  color: #EACEA9;
}

.pet-descriptions li {
  margin-bottom: 16px;
}

/* -----------------------------------------Section 5----------------------------------------------- */

/* Section 5: Fave Foods */
.section-5 {
  background-color: #341510;
  padding: 80px 0;
}

.section-5-inner {
  max-width: 1381px;
  width: 100%;
  margin: 0 auto;

  background-color: #EACEA9;
  border-radius: 13px;

  display: flex;
  overflow: hidden;

  max-height: 550px;
}

.section-5-text {
  width: 45%;
  padding: 48px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-5-label {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  margin-bottom: -3px;
}

.section-5-title {
  font-family: 'Instrument Serif', serif;
  font-size: 45px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.section-5-description {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.65;
  color: #000;
  max-width: 604px;
  margin-top: 9px;
}

.section-5-recipe {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  color: #341510;
  font-weight: bold;
}

.section-5-recipe a {
  color: #341510;
  font-weight: 500;
}


.section-5-image {
  width: 55%;
  height: 100%;
}

.section-5-inner {
  height: 550px;
}

.food-image {
  background-image: url("images/sweet-potato-pie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* -----------------------------------------Section 6----------------------------------------------- */

/* Section 6: Favorite Books */

.section-6 {
  background-color: #341510;
  padding: 40px 0 100px;
  text-align: center;
}

.books-label {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #EACEA9;
  margin-bottom: -35px;
}

.books-title {
  font-family: 'Instrument Serif', serif;
  font-size: 45px;
  font-weight: 400;
  color: #EACEA9;
  margin-bottom: 30px;
}

.books-intro {
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #EACEA9;
  max-width: 700px;
  margin: 0 auto 40px;
}

.books-table {
  width: 85%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #EACEA9;
  border-radius: 12px;
  overflow: hidden;
}

.books-table th,
.books-table td {
  border: 1px solid #3b1f1a;
  padding: 16px;
  text-align: left;
  vertical-align: top;
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  color: #000;
}

.books-table th {
  font-weight: 600;
  background-color: #D9D9D9;
}

.books-table tr:nth-child(even) td {
  background-color: #E0C29A;
}

.books-table img {
  width: 80px;
  height: auto;
  display: block;
}

/* -----------------------------------------Section 7----------------------------------------------- */

/* Section 7: Guestbook */

.section-7 {
  background-color: #EACEA9;
  padding: 40px 0 100px;
}


.guestbook-label {
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #341510;
  margin-bottom: 30px;
  padding-left: 48px;
}

.guestbook-title {
  font-family: 'Instrument Serif', serif;
  font-size: 45px;
  font-weight: 400;
  color: #341510;
  margin: 0 -25px 20px 48px;
}

.guestbook-card {
  width: 1200px;
  margin: 0 auto;

  background-color: #341510;
  border-radius: 13px;

  padding: 60px;
  color: #E9CCAA;

  position: relative;
}

.guestbook-heading {
  font-family: 'Instrument Serif', serif;
  font-size: 32px;
  margin-bottom: 8px;
}

.guestbook-subtext {
  font-size: 16px;
  margin-bottom: 30px;
}

.guestbook-form {
  display: flex;
  gap: 60px;
  margin-top: 35px;
}

.form-left {
  width: 45%;
}

.form-right {
  width: 55%;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.form-row label {
  width: 120px;
  text-align: right;
  margin-right: 16px;
}

input,
select,
textarea {
  width: 220px;
  padding: 8px;

  font-family: 'Krub', sans-serif;
  font-size: 16px;

  border-radius: 4px;
  border: none;

  background-color: #A79987;
}

textarea {
  width: 100%;
  margin-top: 8px;
}

button {
  margin-top: 20px;
  padding: 10px 24px;
  background-color: #D39758;
  border: none;
  font-family: 'Krub', sans-serif;
  cursor: pointer;
}

/* -----------------------------------------Footer----------------------------------------------- */
/* Footer */

.site-footer {
  background-color: #150D0B;
  border-top: 1px solid #D39758;
}

.footer-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left */
.footer-left {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  color: #D39758;
}

/* Center nav */
.footer-center {
  display: flex;
  gap: 28px;
}

.footer-center a {
  font-family: 'Instrument Serif', serif;
  font-size: 14px;
  color: #D39758;
  text-decoration: none;
}

/* Right socials */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: right;
}

.footer-right a {
  font-family: 'Instrument Serif', serif;
  font-size: 14px;
  color: #D39758;
  text-decoration: none;
}

.footer-center a:hover,
.footer-right a:hover {
  color: #EACEA9;
}
